.lettering {
  display: inline-block;
  height: 0.8rem;
  background-color: currentColor;
  -webkit-mask: var(--lettering-url) center / contain no-repeat;
  mask: var(--lettering-url) center / contain no-repeat;
}
